---
import { PostList } from '@/components/PostList';
import Layout from '@/layouts/Layout.astro';
import { getPaginatedPosts } from '@/content/_utils';
const allPosts = await getPaginatedPosts();

const seo = {
  title: 'Blog | Allan Galera',
};

if (allPosts.length === 0) {
  return Astro.redirect('/404');
}
---

<Layout seoOptions={seo}>
  <div class="w-full max-w-2xl">
    <h1 class="mb-8">Blog</h1>
    <PostList posts={allPosts} />
  </div>
</Layout>
