---
import Layout from '@/layouts/Layout.astro';

const seoOptions = {
  title: 'Home | Allan Galera',
};
---

<Layout seoOptions={seoOptions}>
  <div class="h-full flex flex-col items-center justify-center gap-4">
    <div class="max-w-lg flex flex-col gap-2 text-black dark:text-white">
      <h1>Hi,</h1>
      <p>I'm Allan Galera.</p>
      <p>
        I'm passionate about technology and work as a Web Developer since 2016.
        I always reading news in the programming world and keep a few personal
        projects.
      </p>
    </div>
    <div>
      <a class="text-zinc-900 dark:text-zinc-50 underline" href="/resume"
        >Resume</a
      >
    </div>
  </div>
</Layout>
