---
import { PostList } from '@/components/PostList';
import { getPaginatedPosts } from '@/content/_utils';
import Layout from '@/layouts/Layout.astro';

let allBlogPosts = await getPaginatedPosts(0, 5);

const seoOptions = {
  title: 'Home | Allan Galera',
};
---

<Layout seoOptions={seoOptions}>
  <div
    class="flex h-full max-w-2xl flex-col items-center justify-center gap-16 py-16"
  >
    <div class="flex flex-col gap-2">
      <h1>Hi,</h1>
      <p>I'm Allan Galera.</p>
      <p>
        I'm passionate about technology and I've been working as a Web Developer
        since 2016. I am always reading news of programming and tech and I also
        keep a few personal projects.
      </p>
    </div>
    {
      allBlogPosts.length ? (
        <div class="flex w-full flex-col gap-4">
          <h1>Latest posts</h1>
          <hr />
          <PostList client:load posts={allBlogPosts} />
        </div>
      ) : null
    }
  </div>
</Layout>
