---
import { ThemeDropdown } from "@/components/solidjs/ThemeDropdown";
---

<header
  class="flex justify-between items-center sticky top-0 p-5 print:hidden bg-base-300 navbar"
>
  <a class="text-2xl text-gray-900 dark:text-gray-50" href="/">Allan Galera</a>
  <ThemeDropdown client:load />
</header>
