---
import "./base.css";
import Header from "~/components/Header/Header.astro";
import { SEO, Props as SEOProps } from "astro-seo";

export interface Props {
  seoOptions: SEOProps;
}

const { seoOptions } = Astro.props;

const seoDefaultOptions = {
  title: "Allan Galera",
  description: "Allan Galera personal website",
  twitter: {
    creator: "@allangalera",
    site: "allangalera.com",
  },
} satisfies SEOProps;

const seo = {
  ...seoDefaultOptions,
  ...seoOptions,
};
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <script is:inline src="/prism.js"></script>
    <SEO {...seo} />
    <script>
      import { getTheme, setTheme } from "~/utils";
      import { DefaultThemes } from "../constants";

      function initializeColorScheme() {
        const currentTheme = getTheme();

        setTheme(currentTheme);
      }

      initializeColorScheme();

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (e) => {
          if (e.matches) {
            setTheme(DefaultThemes.Dark);
          } else {
            setTheme(DefaultThemes.Light);
          }
        });
    </script>
    <script>
      import { themeChange } from "theme-change";
      themeChange();
    </script>
  </head>
  <body
    class="font-sans min-h-screen min-w-screen bg-base-100 grid grid-rows-[max-content_1fr]"
  >
    <Header />
    <main class="p-5">
      <slot />
    </main>
  </body>
</html>
