---
import { Icon } from "astro-icon";
import Tooltip from "@/components/Tooltip/Tooltip.astro";
import { experiences } from "@/data/experiences";
import Experience from "@/modules/resume/components/Experience/Experience.astro";
import { calculateWholeExperienceTime, period } from "../utils";

const { startDate, endDate } = calculateWholeExperienceTime(experiences);
---

<div class="h-full flex flex-col gap-12 max-w-2xl m-auto">
  <div class="flex gap-4 items-center">
    <h1 class="text-3xl md:text-5xl">Resume</h1>
    <Tooltip>
      <div class="flex items-center gap-3">
        <button id="download-pdf" class="btn btn-outline" data-tooltip-element>
          <Icon name="carbon:document-download" class="w-5" />
        </button>

        <p class="text-xs max-w-6">
          if you have dark mode enable this will flicker the screen
        </p>
      </div>
      <span slot="tooltip-content">
        <p class="text-center text-sm">Download as PDF</p>
      </span>
    </Tooltip>
  </div>
  <div id="resume">
    <h2 class="text-2xl md:text-4xl">Experience</h2>
    <div class="divider m-0"></div>
    <div class="flex gap-4 py-4">
      <div class="flex py-6">
        <div class="divider divider-horizontal w-min text-xs m-0">
          {period({ start: startDate, end: endDate })}
        </div>
      </div>
      <div class="flex flex-col gap-4 flex-1">
        {experiences.map((job) => <Experience {...job} />)}
      </div>
    </div>
  </div>
</div>
